<!DOCTYPE html >
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
    <main layout:fragment="content" class="bg-gray-100 min-h-dvh pt-16 ">
        <a href="register">Register</a>
        <a href="login">Login</a>
    </main>
</body>
</html>