<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<main>
    <section layout:fragment="content">
        <form id="login" hx-disable>
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" name="username" placeholder="username" autocomplete="username webauthn"/>
            </div>
            <button type="submit">
                Login aaaaaaaaaaaaaaaaaa
            </button>
        </form>
        <script src="https://unpkg.com/@simplewebauthn/browser@9.0.0/dist/bundle/index.umd.min.js" integrity="sha512-n27QPQ7eXrOrUrgi0BZTnhqfQjhDt0oliwxpVhHImgPZ77gRE9xA7PIWFTAYw0mX7yA4dPcEiFsjXkKtOH5Q6g==" crossorigin="anonymous"></script>
        <script defer th:inline="javascript">


            const formEl = document.getElementById("login")
            const usernameEl = document.getElementById("username")

            const token = /*[[${_csrf.token}]]*/ "token"
            const header = /*[[${_csrf.headerName}]]*/ "header"
            let head = {
                "Content-Type": "application/json"
            }
            head[`${header}`] = token

            formEl.addEventListener("submit", startLogin)


            SimpleWebAuthnBrowser.browserSupportsWebAuthnAutofill().then(async (supported) => {
                if (supported) {
                    console.log('Setting up Conditional UI');
                    try {
                        await loginProcess(true);
                    } catch (err) {
                        if (err.name === 'AbortError') {
                            console.log('Conditional UI request was aborted');
                        } else {
                            console.error('Conditional UI error:', err);
                        }
                    }
                }
            });


            async function loginProcess(startConditionalUI = false) {
                let username = usernameEl.value;

                if (startConditionalUI === true) {
                    username = undefined;
                }

                const data = JSON.stringify({
                    username
                })
                try {
                    const res = await fetch("/api/webauthn/login/start", {
                        method: "POST",
                        headers: head,
                        body: data,
                    })
                    const startLoginJson = await res.json()

                    delete startLoginJson["extensions"]
                    delete startLoginJson["allowCredentials"]?.[0]?.["transports"]
                    console.log(startLoginJson)

                    const value = await SimpleWebAuthnBrowser.startAuthentication(startLoginJson, false)
                    console.log(value)

                    const finishRes = await fetch("/api/webauthn/login/finish", {
                        method: "POST",
                        headers: head,
                        body: JSON.stringify(value),
                    })
                    const fine = await finishRes.json()
                    if(fine.good === "good") {
                        window.location="/"
                    } else {
                        window.location="/login?error=error"
                    }
                } catch (e) {
                    console.log(e)
                }
            }

            async function startLogin(e) {
                e.preventDefault()
                await loginProcess();

            }
        </script>
    </section>
</main>


</body>
</html>