<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
<main>
    <section layout:fragment="content">
        <form id="register" hx-disable>
                <label for="username">Username</label>
                <input id="username" name="username" placeholder="username"/>
                <label for="fullName">Full name</label>
                <input id="fullName" name="name" placeholder="Pera">

            <button type="submit" hx-disable>
                Register
            </button>
            <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js" integrity="sha512-n27QPQ7eXrOrUrgi0BZTnhqfQjhDt0oliwxpVhHImgPZ77gRE9xA7PIWFTAYw0mX7yA4dPcEiFsjXkKtOH5Q6g==" crossorigin="anonymous"></script>
            <script defer th:inline="javascript">

                const {
                    browserSupportsWebAuthn,
                    startRegistration,
                    startAuthentication,
                    browserSupportsWebAuthnAutofill,
                } = SimpleWebAuthnBrowser;

                const formEl = document.getElementById("register")
                const usernameEl = document.getElementById("username")
                const fullNameEl = document.getElementById("fullName")

                const token = /*[[${_csrf.token}]]*/ "token"
                const header = /*[[${_csrf.headerName}]]*/ "header"
                let head = {
                    "Content-Type": "application/json"
                }
                head[`${header}`] = token

                formEl.addEventListener("submit", startRegister)

                async function startRegister(e) {
                    e.preventDefault()
                    const username = usernameEl.value;
                    const fullName = fullNameEl.value;

                    const data = JSON.stringify({
                        username: username, fullName: fullName
                    })
                    try {
                        const res = await fetch("/api/webauthn/register/start", {
                            method: "POST",
                            headers: head,
                            body: data,
                        })
                        const startJSON = await res.json()

                        delete startJSON["extensions"]

                        const value = await startRegistration(startJSON)
                        console.log(value)

                        const finishRes = await fetch("/api/webauthn/register/finish", {
                            method: "POST",
                            headers: head,
                            body: JSON.stringify(value),
                        })
                        console.log(await finishRes.json())
                        // window.location = "/"
                    } catch (e) {
                        console.log(e)
                        // window.location = "/login?error=error"
                    }


                }
            </script>
        </form>

    </section>
</main>


</body>
</html>