<!DOCTYPE html >
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/files/folder/template.html}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">

    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}"></title>
</head>
<body>
    <main layout:fragment="contente" class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-6" >
        <div class="flex items-center">
            <h1 class="font-semibold text-lg md:text-2xl" th:text="${title}">My Documents</h1>


            <!--/*@thymesVar id="currentFolder" type="me.jovica.notesapp.domain.files.FolderEntity"*/-->
            <form th:if="${currentFolder != null}" hx-post="/files/new">
                <input id="parentUUID" name="parentUUID" type="hidden" th:value="${currentFolder.getId()}">
                <input id="title" name="title" type="text" >
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="grid gap-6 md:gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <!--/*@thymesVar id="folder" type="me.jovica.notesapp.domain.files.FolderEntity"*/-->
            <div layout:replace="~{fragments/files/folder/folders}" >
            </div>
        </div>
    </main>

</body>
</html>